{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap ICON CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- VUE.JS CDN development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Standard Intuit Popup for Authentication -->
    <script>
        if (window.opener) {
          window.opener.location.href = '/oauth/'
          window.close()
      }

      function launchPopup(path) {
          var win;
          var checkConnect;
          var parameters = "location=1,width=800,height=650";
          parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

          // Launch Popup
          win = window.open(path, 'connectPopup', parameters);
      }
    </script>

    <title>Admin Dashboard</title>
  </head>
  <body>
    

    {% include 'partials/_navbar.html' %}

    <main class="container py-5">
    {% block content%} 
    {% endblock %}

    

  
    </main>
    
  </body>
</html>