{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="h1">{{user.first_name}}'s User Profile</h1>

<div class="col">
    <div class="card text-white bg-secondary border-dark mt-4 shadow">
        <div class="d-flex justify-content-center">

        </div>
        <div class="card-body">
            <h5 class="card-title text-center"><b>Information</b></h5>          
            <p class="card-text text-end">
                Name: {{user.first_name}} {{user.last_name}} <br>
                Username: {{user.username}} <br>
                Email Address: {{user.email}} <br>
                Finance ID: {{user.finance_id}} <br>
                Service End Date: {{user.end_date}} <br><br><br>
                
                Sign in for financial reporting:
                <a class="imgLink" href="#" onclick="launchPopup('/oauth/')">
                    <img src="{% static 'IntuitSignIn.jpg' %}" alt="Pear Suite Logo" width="200" height="50">
                </a>
            </p>

        </div>
    </div>

</div>

{% endblock content %}