{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">

  <!-- Navbar -->
  <div class="container">
    <!-- Navbar Lgoo -->
    <a class="navbar-brand" href="{% url 'reports_app:index' %}">
      <img src="{% static 'pear_logo.png' %}" alt="Pear Suite Logo" width="200" height="50">
    </a>

    {% if request.user.is_authenticated %}

      <!-- Logout if logged in -->
      <div class="d-flex mx-1">
          <a class="btn btn-outline-dark mx-3" href="{% url 'users_app:profile' user.username %}">User Profile</a>
          <a class="btn btn-outline-dark mx-3" href="{% url 'users_app:logout' %}">Logout</a>
      </div>

      {% else %}
      <!-- Login for Users/Admin -->
      <div class="btn-group">
        <a class="btn btn-outline-dark mx-1" href="{% url 'users_app:login' %}">Login</a>  
        <a class="btn btn-outline-dark mx-1" href="{% url 'users_app:register' %}">Sign up</a>
      </div>

    {% endif %}
  
  </div>
</nav>